*{
    margin: 0;
    padding: 0;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}
 .header{
    background-color: rgb(15,15,15);
    background-image: linear-gradient(114deg, rgba(15,15,15,1) 0%, rgba(40,40,40,1) 50%, rgba(101,101,101,1) 100%);   
}
.col{
  color: white;
}
.logo_airbag{
    height: 60px;
    width: 110px;
}
.nav-link{
  font-size: 20px;
  color: white !important; /* uso del important por el color de las letras */
  margin-left: 100px;
}
.nav-link:hover{
  transform: scale(1.5);
  transition: all 2s;
  color: rgba(148, 3, 3, 0.466) !important; /* uso del important para que cambie el color de las palabras al seleccionarlas */
}
footer {
  background-color: rgb(15,15,15);
  background-image: linear-gradient(114deg, rgba(15,15,15,1) 0%, rgba(40,40,40,1) 50%, rgba(101,101,101,1) 100%);   
  width: 100%;
  height: 15vh; 
}
.fa-brands {
  color: #f0f8ff;
  padding: 0 40px;
  font-size: 30px;
  position: relative;
  left: 10px; 
  font-size: 40px;
}
  .integrantes{
    height: 600px;
    width: 100%;
    object-fit: cover;
    padding-top: 50px;
  }
  .main-tabla{
    background-color: rgb(43, 43, 43);
    color: white;
    text-align: center;
  }
 .table{
   margin-bottom: 0;
 }
 .miniatura{
   height: 50px;
   width: 50px;
 }
  .img-airbag{
    margin-top: 100px;
    height: 500px;
    width: 100%;
    padding-bottom: 20px;
  }
  .mb-3{
    width: 315px;
    background-color: rgba(148, 3, 3, 0.466);
    border-radius: 5px;
  }
  .btn{
    color: white;
    background-color: rgba(148, 3, 3, 0.466);
  }
  .form-label{
    font-size: 18px;
    margin-left: 13px;
  }
  .email{
    color: white;
  }
  .h4{
    margin-bottom: 0;
    padding: 15px;
  }
  .email:hover{
    transform:scale(1.5) ;
    transition: all 2s;
    color: rgba(148, 3, 3, 0.466);
  }
.main h1{
  color: white;
  padding-top: 20px;
  margin-left: 200px;
}
.formulario{
  width: 500px;
  margin-top: 60px;
}

@media screen and (max-width: 768px) {
  footer {
    background-color: rgb(15,15,15);
    background-image: linear-gradient(114deg, rgba(15,15,15,1) 0%, rgba(40,40,40,1) 50%, rgba(101,101,101,1) 100%);   
    width: 100%;
    height: 28vh; 
}
}
