$color-principal: white;

$background: rgb(15,15,15);

$hoverS: rgba(148, 3, 3, 0.466);

$bg-gradiantes: linear-gradient(114deg, rgba(15,15,15,1) 0%, rgba(40,40,40,1) 50%, rgba(101,101,101,1) 100%); ; 