
.main{
        background-color: $background;
        color: $color-principal;
        .container_fluid{ 
            list-style: none;
            background-color: $background;
        }
        .img-airbag{
          margin-top: 40px;
          height: 500px;
          width: 100%;
          object-fit: contain;
        }
          .textO{
           padding-left: 20px;
           font-size: map-get($tamanio-tipografia, parrafos);
          }
          .titulo{
            font-size: map-get($tamanio-tipografia, titulos);
            text-align: center;
          }
}
