.main h1{
    @include intro-contacto(map-get($tamanio-tipografia, titulos), center, underline);
    padding: 20px;
}
h3{
    @include intro-contacto(map-get($tamanio-tipografia, subtitulos), start, none);
    padding-left: 20px;
}
.formulario{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  margin-top: 60px;
  margin-left: 15px;
  

  .mb-3{
    width: 350px;
    background-color: $bg-form;
    border-radius: 5px;
    padding-right: 0 !important;
  } 
    .form-label{
    font-size: 18px;
    margin-left: 13px;
    }
    .btn{
    color: white;
    background-color: $bg-form;
    }
}
.h4{
    margin-bottom: 0;
    padding: 15px;
    .email{
        color: $color-principal;
    }
    .email:hover{
            @extend %hover;
        } 
}
 
@media screen and (max-width:320px){
    .formulario{
        width: 300px;
        margin-top: 60px;
        margin-left: 15px;
    }
    .mb-3{
        width: 300px;
        background-color: $bg-form;
        border-radius: 5px;
        margin-right: 0 !important;
      } 
}
  
