.header{
    background-color: $background;
    background-image: $bg-gradiantes;  
}
.logo_airbag{
  height: 60px;
  width: 110px;
}
.nav-link{
    font-size: map-get($tamanio-tipografia, subtitulos );
    color: $color-principal !important; /* uso del important por el color de las letras */
    margin-left: 100px;
}
.nav-link:hover{
    @extend %hover;
    }
.carousel-item{
  width: 100%;
  height: 100%;
}
body{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: $background;
}
    footer{
        background-color: rgb(15,15,15);
        background-image: linear-gradient(114deg, rgba(15,15,15,1) 0%, rgba(40,40,40,1) 50%, rgba(101,101,101,1) 100%);   
        width: 100%;
        margin-top: auto; 
                    .fa-brands {
                      color: #f0f8ff;
                      padding: 20px 40px 20px;
                      font-size: 30px;
                      position: relative;
                      left: 10px; 
                    }
      }
      @media screen and (max-width: 768px) {
        footer {
          background-color: rgb(15,15,15);
          background-image: linear-gradient(114deg, rgba(15,15,15,1) 0%, rgba(40,40,40,1) 50%, rgba(101,101,101,1) 100%);   
          width: 100%;
          height: 28vh; 
      }
      }
      @media screen and (max-width: 450px) {
        body{
          display: flex;
          flex-direction: column;
        }
        footer {
          background-color: rgb(15,15,15);
          background-image: linear-gradient(114deg, rgba(15,15,15,1) 0%, rgba(40,40,40,1) 50%, rgba(101,101,101,1) 100%);   
          width: 100%;
      .fa-brands {
        color: #f0f8ff;
        font-size: 30px;
        position: relative;
        padding: 0 20px;
      }
    } 
}